@model  IEnumerable<MechanicTracker.notification>

@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

@*style="border-radius: 10px; margin: 10px; border-style: solid; border-width: 2px"*@

<div class="col-xs-12">
    <h3 class="text-center">Notifications</h3>
    <div style="overflow: scroll hidden;">
        <div id="notsifications">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                <div style="border-radius: 5px; border-style: solid; border-width: 2px; margin-top: 2%;">
                    <p class="text-center"><b>@item.Message</b></p>
                    <div class="col-md-4 text-center">
                        <a href="/MechanicJobs/DisplayJobs?id=@item.JobID" onclick="setNotification(@item.NotificationID)" class="btn btn-xs btn-danger"  style="height:20px 20px; margin:10px ">Get Job</a>
                    </div>

                </div>
                }
            }
            else
            {
                <p class="text-center">No Notifications Available</p>
            }
        </div>
    </div>
</div>
<div class="col-xs-12" style="margin-top: 10%; width: 100%;">
    @Html.ActionLink("Back", "SelectNotifications", null, new { @class = "btn btn-danger", @style = "width:100%" })
</div>





@section scripts
{
    <script>
        function setNotification(NotificationID) {

            $.ajax({
                type: "GET",
                url: '@Url.Action("UpdateNotification")',
                data: { id: NotificationID },
                success: function (data) {

                },
                error: function (data) {

                }
            });
        }
    </script>
}
