@model MechanicTracker.job

@if(Model.Status=="complete")
{ 
    if (Model.TimeTaken > Model.TimeAllowed * 1.1)
    {
        <span class="glyphicon glyphicon-remove" style="color:red;"></span>
    }
    else if (Model.TimeTaken > Model.TimeAllowed)
    {
        <span class="glyphicon glyphicon-exclamation-sign" style="color:#FF9900;"></span>
    }
    else
    {
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>
    }
}

