@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}
 @Styles.Render("~/Content/css")
 @Scripts.Render("~/bundles/modernizr")

<div class="container" id="errorpage" style="margin-top:10%;">
    <div class="col-md-offset-1 col-md-10">
        <img class="center-block"  src="~/Content/themes/base/images/MT-Logo.PNG" style="width: 400px; height: 100px;" />
    </div>
    <div class="col-md-offset-1 col-md-10">
        <h2 class="text-center">An error occurred while processing your request</h2>
        <h2 class="text-center">Sorry for the inconvenience.</h2>
    </div>
</div>

